In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.max_columns", 40)
import warnings
warnings.filterwarnings("ignore")

## 1. Load & Inspect Data

### 1.1 Read the CSV file into the variable "hotel". Use pandas library to read the file. (1 Mark)

In [2]:
hotel = pd.read_csv('hotel_mod.csv')

# Importing and reading the csv file as dataframe in Pandas and stored as hotel dataframe.

### 1.2 Inspect the Data Frame (4 Marks)

- Write the code to check the top-5 rows
- Write the code to check the shape of the data frame, hotel.
- Write the code to check the info about the data frame, hotel.
- Wrtie the code to print the column names of the data frame, hotel.

In [3]:
#Look at the first 5 rows of the data to get a basic intution
hotel.head()

#By default head() will give first 5 rows of the dataframe.

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Customer_1,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Customer_2,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Customer_3,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Customer_4,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Customer_5,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [4]:
# Check the number of rows and columns (shape) of the dataframe
hotel.shape

# It returns No. of rows and columns

(119390, 33)

In [5]:
# Look at the basic information about the columns and look at the datatypes
hotel.info()

#info() returns information about the columns and corresponding datatypes.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 33 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Customer_Id                     119390 non-null  object
 1   hotel                           119390 non-null  object
 2   is_canceled                     119390 non-null  int64
 3   lead_time                       119390 non-null  int64
 4   arrival_date_year               119390 non-null  int64
 5   arrival_date_month              119390 non-null  object
 6   arrival_date_week_number        119390 non-null  int64
 7   arrival_date_day_of_month       119390 non-null  int64
 8   stays_in_weekend_nights         119390 non-null  int64
 9   stays_in_week_nights            119390 non-null  int64
 10  adults                          119390 non-null  int64
 11  children                        119386 non-null  float64
 12  babies                          119390 non-null  int64
 13  meal                            119390 non-null  object
 14  country                         118902 non-null  object
 15  market_segment                  119390 non-null  object
 16  distribution_channel            119390 non-null  object
 17  is_repeated_guest               119390 non-null  int64
 18  previous_cancellations          119390 non-null  int64
 19  previous_bookings_not_canceled  119390 non-null  int64
 20  reserved_room_type              119390 non-null  object
 21  assigned_room_type              119390 non-null  object
 22  booking_changes                 119390 non-null  int64
 23  deposit_type                    119390 non-null  object
 24  agent                           103050 non-null  float64
 25  company                         6797 non-null    float64
 26  days_in_waiting_list            119390 non-null  int64
 27  customer_type                   119390 non-null  object
 28  adr                             119390 non-null  float64
 29  required_car_parking_spaces     119390 non-null  int64
 30  total_of_special_requests       119390 non-null  int64
 31  reservation_status              119390 non-null  object
 32  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(13)
memory usage: 30.1+ MB

In [6]:
# Write the code to check the column names
hotel.columns

# Columns will return all the column names.

Index(['Customer_Id', 'hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

## 2. Data Cleaning (5 Marks)

### 2.1 Get the column-wise Null percentage count using 'isnull()' and length of the dataframe (2 Marks)

#### Hint: When we use isnull().sum() we get sum and when we divide it by the length of the dataframe and multiply the numerator with 100 we get the percentage of missing values in each column

In [7]:
# Get the percentage of missing values in each column. Sort the output in descending order
Null_percentage = hotel.isnull().sum()/hotel.shape[0]*100
Null_percentage_descending = Null_percentage.sort_values(ascending=False)
print(Null_percentage_descending)

# isnull().sum() is used to get the column wise Null count of this dataframe. 
# To obtain percentage, the sum value has to be divided by the length of the dataframe and multiply with 100.

company                           94.306893
agent                             13.686238
country                            0.408744
children                           0.003350
arrival_date_day_of_month          0.000000
babies                             0.000000
adults                             0.000000
stays_in_week_nights               0.000000
stays_in_weekend_nights            0.000000
reservation_status_date            0.000000
arrival_date_week_number           0.000000
arrival_date_month                 0.000000
arrival_date_year                  0.000000
lead_time                          0.000000
is_canceled                        0.000000
hotel                              0.000000
meal                               0.000000
distribution_channel               0.000000
market_segment                     0.000000
reservation_status                 0.000000
is_repeated_guest                  0.000000
previous_cancellations             0.000000
previous_bookings_not_canceled     0.000000
reserved_room_type                 0.000000
assigned_room_type                 0.000000
booking_changes                    0.000000
deposit_type                       0.000000
days_in_waiting_list               0.000000
customer_type                      0.000000
adr                                0.000000
required_car_parking_spaces        0.000000
total_of_special_requests          0.000000
Customer_Id                        0.000000
dtype: float64

### 2.2 We can see that the columns 'company' and 'agent' have 94% and 13% of values missing respectively. Since our business goals doesnot require these columns also, since these columns contain huge missing values.So,lets drop them. (2 marks)

In [8]:
 # Use '.drop' and drop the columns
hotel = hotel.drop(['company', 'agent'], axis = 1)
hotel.head(3)

# To remove columns we need to mention axis = 1. Axis 1 represents the column and Axis 0 represents the rows.
# By default the drop function will consider as axis = 0.

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Customer_1,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Customer_2,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Customer_3,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02

In [9]:
hotel.shape

# Shape returns total no.of rows and columns in the dataframe. No. of columns has reduced from 33 to 31.

(119390, 31)

### Though country contains 0.40% of missing values it is a important factor in our analysis. Also, dropping the whole column for such low missing values is not the right choice. Lets drop the rows which has column 'country' missing.

In [10]:
hotel = hotel.dropna(subset=['country'])
hotel.head(3)

# By default dropna will drop rows with null value. Therefore to drop null values in the specific column.
# It has to be specified as subset within the dropna()

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Customer_1,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Customer_2,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Customer_3,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02

In [11]:
hotel.shape

# Now the no.of rows got reduced from 119390 to 118902.

(118902, 31)

In [12]:
# Removed all the null values in Country Column - Data cleaning is done.
hotel.isnull().sum()

# This gives the sum of all null values in the dataframe. Now the Country column doesn't have null values.

Customer_Id                       0
hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          4
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

### 2.3 Explain the code below: (1 mark)

What is the below code block doing?

In [13]:
hotel['children'][hotel['children'].isnull()] = 0

Answer:

This code converts the remaining null values in the children column and it replaces null values with 0 in the Children column.

Hence the null values in the Children column becomes 0.

In [14]:
hotel['children'].isnull().sum()

# There are no more null values in the Children column.

0

## 3.Data Analysis (25 Marks)

## 3.1 Analysing the possible reasons for the customers to cancel the booking (11 Marks)

### 3.1.1 In total how many customers cancelled the booking? (2 Marks)

In [15]:
## use the column 'is_canceled' and check the number of total cancellations

hotel.is_canceled.value_counts()

# Total Cancellations is 44157. Customers cancelled the booking is represented by 1.
# value_counts() returns the no. of times the unique values are present.

0    74745
1    44157
Name: is_canceled, dtype: int64

### 3.1.2 What percentage of bookings were cancelled for City Hotel and Resort Hotel? (2 marks)

In [16]:
## Use group by and calculate the percentage of cancellations for City Hotel and Resort Hotel

hotel.groupby("hotel")['is_canceled'].sum()/hotel.is_canceled.sum()*100

# Here we are grouping by Hotel column and filter "is_canceled" column with the total sum.
# To obtain percentage of bookings cancelled divide by the sum of is_canceled and multiply by 100.

hotel
City Hotel      74.91451
Resort Hotel    25.08549
Name: is_canceled, dtype: float64

In [17]:
# Percentage cancelled for City Hotel is 74.9% & Resort Hotel is 25.08%.

### 3.1.3 Who gave more special requests? Customers who cancelled the booking or customers who didnot cancel the booking? Find the percentage for both the cases (2 Marks)

In [18]:
hotel.groupby("is_canceled")['total_of_special_requests'].sum()

# Here we are grouping by is_canceled column and filter "is_canceled" column with the total sum.

is_canceled
0    53461
1    14516
Name: total_of_special_requests, dtype: int64

In [19]:
hotel.groupby("is_canceled")['total_of_special_requests'].sum()/hotel.total_of_special_requests.sum()*100

#To obtain the percentage divide it by sum of total of special requests.

is_canceled
0    78.645718
1    21.354282
Name: total_of_special_requests, dtype: float64

In [20]:
# Special requests came from the customers who did not cancelled the booking with 78.6%.

### 3.1.4 What is the average number of days a particular customer needs to wait who later cancelled the booking and who didn't cancelled the booking? (2 Marks)

In [21]:
hotel.groupby("is_canceled")['days_in_waiting_list'].mean()

# Here we are grouping by is_canceled column and filter "days in waiting list" column with the mean to get average.

is_canceled
0    1.598823
1    3.569491
Name: days_in_waiting_list, dtype: float64

### 3.1.5 What is the percentage of customers who have cancelled the booking and have a history of cancelling the booking previously? (2 Marks)

In [22]:
hotel[hotel.previous_cancellations != 0]. is_canceled.sum()

# Initially Previous cancellations is filtered by removing 0 values and sum of is_canceled column is calculated.

5918

In [23]:
hotel[hotel.previous_cancellations != 0]. is_canceled.sum()/hotel.shape[0]*100

4.977208120973574

In [24]:
# 4.9% of customers who cancelled the booking have a history of cancelling the booking previously

### 3.1.6 What steps from the business perspective can you take to ensure that people who cancelled bookings previously do not repeat that again? (1 Mark)

From the Business perspective as a manager I should levy high cancellation fee or a no money return back policy for  customers who cancelled the bookings. Due to the cancellation of the booking at the last moment makes it difficult for the hotel to allocate the room for another customer.

## 3.2 Filtering out top 10 customers to offer them discounts when they visit next time (14 Marks)

### 3.2.1 Filter customers that have not cancelled the booking. (2 marks)

In [25]:
not_cancel = hotel[hotel['is_canceled']==0]
not_cancel

# This is a new dataframe called not_cancel and with not cancelled filtered from the Hotel Dataframe.

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Customer_1,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Customer_2,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Customer_3,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Customer_4,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Customer_5,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,Customer_119386,City Hotel,0,23,2017,August,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,Customer_119387,City Hotel,0,102,2017,August,35,31,2,5,3,0.0,0,BB,FRA,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,Customer_119388,City Hotel,0,34,2017,August,35,31,2,5,2,0.0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,Customer_119389,City Hotel,0,109,2017,August,35,31,2,5,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,Customer_119390,City Hotel,0,205,2017,August,35,29,2,7,2,0.0,0,HB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,151.20,0,2,Check-Out,2017-09-07

From now on we will use this dataframe for further analysis

Let's now calculate the total stay duration for customer together with the revenue generated by that particular customer. Using these metrics, we would be able to identify top customers that are profitable to the hotel.

### 3.2.2 Create a new column "total_stay_duration" in the data frame not_cancel. (2 Marks)

Total_Stay_Duration is defined as the number of nights a customer stayed in the hotel including both weekends and weekdays

In [26]:
not_cancel['total_stay_duration'] = not_cancel['stays_in_weekend_nights'] + not_cancel['stays_in_week_nights']
not_cancel
    
# New coloumn total stay duration is added to the not_cancel dataframe with new value added to it.

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_stay_duration
0,Customer_1,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,0,Transient,0.00,0,0,Check-Out,2015-07-01,0
1,Customer_2,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,0,Transient,0.00,0,0,Check-Out,2015-07-01,0
2,Customer_3,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,0,Transient,75.00,0,0,Check-Out,2015-07-02,1
3,Customer_4,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,0,Transient,75.00,0,0,Check-Out,2015-07-02,1
4,Customer_5,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,98.00,0,1,Check-Out,2015-07-03,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,Customer_119386,City Hotel,0,23,2017,August,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,96.14,0,0,Check-Out,2017-09-06,7
119386,Customer_119387,City Hotel,0,102,2017,August,35,31,2,5,3,0.0,0,BB,FRA,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,0,Transient,225.43,0,2,Check-Out,2017-09-07,7
119387,Customer_119388,City Hotel,0,34,2017,August,35,31,2,5,2,0.0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,0,Transient,157.71,0,4,Check-Out,2017-09-07,7
119388,Customer_119389,City Hotel,0,109,2017,August,35,31,2,5,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,104.40,0,0,Check-Out,2017-09-07,7
119389,Customer_119390,City Hotel,0,205,2017,August,35,29,2,7,2,0.0,0,HB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,151.20,0,2,Check-Out,2017-09-07,9

### 3.2.3 Create a new column "total_revenue" in the data frame not_cancel. (2 Marks)

Total_Revenue can be calculated by multiplying average rental revenue(adr) with total stay duration(column created in last question)

The average daily rate (adr) measures the average rental revenue earned for an occupied room per day. The operating performance of a hotel or other lodging business can be determined by using the ADR.

In [27]:
not_cancel['Total_revenue'] = not_cancel['adr'] * not_cancel['total_stay_duration']
not_cancel

# Another new column is added to the dataframe called Total_revenue and obtained values multiplied by adr and total stay duration.

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_stay_duration,Total_revenue
0,Customer_1,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,0,Transient,0.00,0,0,Check-Out,2015-07-01,0,0.00
1,Customer_2,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,0,Transient,0.00,0,0,Check-Out,2015-07-01,0,0.00
2,Customer_3,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,0,Transient,75.00,0,0,Check-Out,2015-07-02,1,75.00
3,Customer_4,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,0,Transient,75.00,0,0,Check-Out,2015-07-02,1,75.00
4,Customer_5,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,98.00,0,1,Check-Out,2015-07-03,2,196.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,Customer_119386,City Hotel,0,23,2017,August,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,96.14,0,0,Check-Out,2017-09-06,7,672.98
119386,Customer_119387,City Hotel,0,102,2017,August,35,31,2,5,3,0.0,0,BB,FRA,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,0,Transient,225.43,0,2,Check-Out,2017-09-07,7,1578.01
119387,Customer_119388,City Hotel,0,34,2017,August,35,31,2,5,2,0.0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,0,Transient,157.71,0,4,Check-Out,2017-09-07,7,1103.97
119388,Customer_119389,City Hotel,0,109,2017,August,35,31,2,5,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,104.40,0,0,Check-Out,2017-09-07,7,730.80
119389,Customer_119390,City Hotel,0,205,2017,August,35,29,2,7,2,0.0,0,HB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,151.20,0,2,Check-Out,2017-09-07,9,1360.80

In [28]:
not_cancel.Total_revenue.sum()

25908964.82

### 3.2.4 Find the top 10 customers based on trip duration who stayed at City Hotel (2 Marks)

- Filter the data frame "not_cancel" for hotel = "City Hotel"
- Sort the filtered data frame on "total_stay_duration" in descending
- Keep only top 10 rows

In [29]:
city_hotel = not_cancel[not_cancel['hotel'] == 'City Hotel']
city_hotel

# Filtered City hotel from the not_cancel dataframe and copied the filtered back into the city_hotel.

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_stay_duration,Total_revenue
40060,Customer_40061,City Hotel,0,6,2015,July,27,1,0,2,1,0.0,0,HB,PRT,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,0.00,0,0,Check-Out,2015-07-03,2,0.00
40066,Customer_40067,City Hotel,0,3,2015,July,27,2,0,3,1,0.0,0,HB,PRT,Groups,TA/TO,0,0,0,A,A,1,No Deposit,0,Transient-Party,58.67,0,0,Check-Out,2015-07-05,3,176.01
40070,Customer_40071,City Hotel,0,43,2015,July,27,3,0,2,2,0.0,0,HB,PRT,Groups,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient-Party,86.00,0,0,Check-Out,2015-07-05,2,172.00
40071,Customer_40072,City Hotel,0,43,2015,July,27,3,0,2,2,0.0,0,HB,PRT,Groups,TA/TO,0,0,0,A,A,1,No Deposit,0,Transient-Party,43.00,0,0,Check-Out,2015-07-05,2,86.00
40072,Customer_40073,City Hotel,0,43,2015,July,27,3,0,2,2,0.0,0,HB,PRT,Groups,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient-Party,86.00,0,0,Check-Out,2015-07-05,2,172.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,Customer_119386,City Hotel,0,23,2017,August,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,96.14,0,0,Check-Out,2017-09-06,7,672.98
119386,Customer_119387,City Hotel,0,102,2017,August,35,31,2,5,3,0.0,0,BB,FRA,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,0,Transient,225.43,0,2,Check-Out,2017-09-07,7,1578.01
119387,Customer_119388,City Hotel,0,34,2017,August,35,31,2,5,2,0.0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,0,Transient,157.71,0,4,Check-Out,2017-09-07,7,1103.97
119388,Customer_119389,City Hotel,0,109,2017,August,35,31,2,5,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,104.40,0,0,Check-Out,2017-09-07,7,730.80
119389,Customer_119390,City Hotel,0,205,2017,August,35,29,2,7,2,0.0,0,HB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,151.20,0,2,Check-Out,2017-09-07,9,1360.80

In [30]:
Top_10 = city_hotel.sort_values(['total_stay_duration'], ascending=False)
Top_10.head(10)


#Sorted the filtered City Hotels in the decending order by total stay duration
#Printed top 10 values by Head(10)

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_stay_duration,Total_revenue
101794,Customer_101795,City Hotel,0,140,2016,September,39,22,16,41,0,0.0,0,SC,GBR,Online TA,TA/TO,0,0,0,A,K,12,No Deposit,0,Transient,8.34,0,2,Check-Out,2016-11-18,57,475.38
88017,Customer_88018,City Hotel,0,16,2016,March,11,11,14,35,0,0.0,0,BB,PRT,Corporate,TA/TO,0,0,0,A,K,21,No Deposit,0,Transient-Party,0.00,0,0,Check-Out,2016-04-29,49,0.00
54704,Customer_54705,City Hotel,0,206,2016,July,30,23,14,34,2,0.0,0,SC,PRT,Online TA,TA/TO,0,0,0,A,K,6,No Deposit,0,Transient-Party,0.00,0,1,Check-Out,2016-09-09,48,0.00
106561,Customer_106562,City Hotel,0,11,2017,January,3,15,13,30,0,0.0,0,SC,USA,Online TA,TA/TO,0,0,0,A,K,14,No Deposit,0,Transient,0.00,0,0,Check-Out,2017-02-27,43,0.00
103282,Customer_103283,City Hotel,0,3,2016,November,47,14,9,25,2,0.0,0,BB,PRT,Corporate,Corporate,0,0,0,A,A,3,No Deposit,0,Transient,93.00,0,0,Check-Out,2016-12-18,34,3162.00
41020,Customer_41021,City Hotel,0,0,2015,August,33,10,9,20,0,0.0,0,SC,PRT,Online TA,Direct,0,0,0,E,K,20,No Deposit,0,Transient,0.00,0,0,Check-Out,2015-09-08,29,0.00
98046,Customer_98047,City Hotel,0,42,2016,August,35,27,8,20,0,0.0,0,BB,USA,Online TA,TA/TO,0,0,0,D,K,2,No Deposit,0,Transient,0.00,0,1,Check-Out,2016-09-24,28,0.00
109038,Customer_109039,City Hotel,0,2,2017,March,10,9,8,19,0,0.0,0,SC,PRT,Direct,Direct,0,0,0,G,K,14,No Deposit,0,Transient,0.00,0,0,Check-Out,2017-04-05,27,0.00
96438,Customer_96439,City Hotel,0,165,2016,August,33,9,6,18,1,0.0,0,BB,PRT,Corporate,Corporate,0,0,0,E,K,4,No Deposit,0,Transient,106.00,0,0,Check-Out,2016-09-02,24,2544.00
101345,Customer_101346,City Hotel,0,2,2016,October,43,19,6,17,1,0.0,0,BB,JPN,Corporate,Corporate,0,0,0,E,E,4,No Deposit,0,Transient,170.00,0,0,Check-Out,2016-11-11,23,3910.00

### 3.2.5 Find the top 10 customers based on trip duration who stayed at Resort Hotel (2 marks)

- Filter the data frame "not_cancel" for hotel = "Resort Hotel"
- Sort the filtered data frame on "total_stay_duration" in descending
- Keep only top 10 rows

In [31]:
resort_hotel = not_cancel[not_cancel['hotel'] == 'Resort Hotel']
resort_hotel

# Similarly filtered resort hotel from the not cancel dataframe.
# Copied backed the filtered data into the resort hotel.

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_stay_duration,Total_revenue
0,Customer_1,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,0,Transient,0.00,0,0,Check-Out,2015-07-01,0,0.00
1,Customer_2,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,0,Transient,0.00,0,0,Check-Out,2015-07-01,0,0.00
2,Customer_3,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,0,Transient,75.00,0,0,Check-Out,2015-07-02,1,75.00
3,Customer_4,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,0,Transient,75.00,0,0,Check-Out,2015-07-02,1,75.00
4,Customer_5,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,98.00,0,1,Check-Out,2015-07-03,2,196.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40055,Customer_40056,Resort Hotel,0,212,2017,August,35,31,2,8,2,1.0,0,BB,GBR,Offline TA/TO,TA/TO,0,0,0,A,A,1,No Deposit,0,Transient,89.75,0,0,Check-Out,2017-09-10,10,897.50
40056,Customer_40057,Resort Hotel,0,169,2017,August,35,30,2,9,2,0.0,0,BB,IRL,Direct,Direct,0,0,0,E,E,0,No Deposit,0,Transient-Party,202.27,0,1,Check-Out,2017-09-10,11,2224.97
40057,Customer_40058,Resort Hotel,0,204,2017,August,35,29,4,10,2,0.0,0,BB,IRL,Direct,Direct,0,0,0,E,E,0,No Deposit,0,Transient,153.57,0,3,Check-Out,2017-09-12,14,2149.98
40058,Customer_40059,Resort Hotel,0,211,2017,August,35,31,4,10,2,0.0,0,HB,GBR,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,0,Contract,112.80,0,1,Check-Out,2017-09-14,14,1579.20
40059,Customer_40060,Resort Hotel,0,161,2017,August,35,31,4,10,2,0.0,0,HB,DEU,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,99.06,0,0,Check-Out,2017-09-14,14,1386.84

In [32]:
Top_10_resort = resort_hotel.sort_values(['total_stay_duration'], ascending=False)
Top_10_resort.head(10)

# Now sorting the filtered resort hotel by total stay duration in decending order and printing 10 values 
# inorder to obtain the top 10 values.

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_stay_duration,Total_revenue
33924,Customer_33925,Resort Hotel,0,71,2017,January,2,10,16,40,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,28.79,0,0,Check-Out,2017-03-07,56,1612.24
1655,Customer_1656,Resort Hotel,0,30,2015,September,37,7,13,33,2,0.0,0,SC,ESP,Online TA,TA/TO,0,0,0,A,I,17,No Deposit,0,Transient,0.00,0,1,Check-Out,2015-10-23,46,0.00
32589,Customer_32590,Resort Hotel,0,1,2017,February,5,3,13,32,1,0.0,0,BB,GBR,Direct,Direct,1,0,1,A,D,2,No Deposit,0,Transient,42.11,0,3,Check-Out,2017-03-20,45,1894.95
3850,Customer_3851,Resort Hotel,0,214,2016,January,5,26,12,30,2,0.0,0,BB,GBR,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,0,Transient,31.45,0,0,Check-Out,2016-03-08,42,1320.90
34614,Customer_34615,Resort Hotel,0,242,2017,February,7,17,12,30,2,0.0,0,BB,DEU,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,0,Transient,35.70,0,1,Check-Out,2017-03-31,42,1499.40
34898,Customer_34899,Resort Hotel,0,150,2017,February,9,26,12,30,2,0.0,0,BB,GBR,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,0,Contract,39.41,0,2,Check-Out,2017-04-09,42,1655.22
35059,Customer_35060,Resort Hotel,0,80,2017,March,10,5,12,26,2,0.0,0,SC,GBR,Groups,TA/TO,0,0,0,D,I,10,No Deposit,0,Transient-Party,0.26,0,0,Check-Out,2017-04-12,38,9.88
33620,Customer_33621,Resort Hotel,0,88,2017,January,4,24,10,25,2,0.0,0,BB,GBR,Direct,Direct,0,0,0,D,D,0,No Deposit,0,Transient,41.47,0,1,Check-Out,2017-02-28,35,1451.45
33234,Customer_33235,Resort Hotel,0,192,2017,January,2,14,10,25,2,0.0,0,BB,GBR,Offline TA/TO,TA/TO,0,0,0,A,D,0,No Deposit,0,Transient,34.00,0,0,Check-Out,2017-02-18,35,1190.00
32946,Customer_32947,Resort Hotel,0,140,2017,January,1,6,10,25,2,0.0,0,BB,DEU,Offline TA/TO,TA/TO,0,0,0,E,E,0,No Deposit,0,Transient,45.00,0,1,Check-Out,2017-02-10,35,1575.00

### 3.2.6 Find the top 10 customers based on total revenue who stayed at City Hotel (2 Marks)

- Filter the data frame "not_cancel" for hotel = "City Hotel"
- Sort the filtered data frame on "total_revenue" in descending
- Keep only top 10 rows

In [33]:
Top_10_city_revenue = city_hotel.sort_values(['Total_revenue'], ascending=False)
Top_10_city_revenue.head(10)

#Sorted the filtered City Hotels in the decending order by total revenue using ascending = False and saved it in a new variable.
#Printed top 10 values by head(10) from the new variable.

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_stay_duration,Total_revenue
101345,Customer_101346,City Hotel,0,2,2016,October,43,19,6,17,1,0.0,0,BB,JPN,Corporate,Corporate,0,0,0,E,E,4,No Deposit,0,Transient,170.00,0,0,Check-Out,2016-11-11,23,3910.00
105525,Customer_105526,City Hotel,0,5,2017,January,4,25,4,13,2,2.0,0,BB,AGO,Online TA,TA/TO,0,0,0,F,G,1,No Deposit,0,Transient,223.00,0,0,Check-Out,2017-02-11,17,3791.00
103282,Customer_103283,City Hotel,0,3,2016,November,47,14,9,25,2,0.0,0,BB,PRT,Corporate,Corporate,0,0,0,A,A,3,No Deposit,0,Transient,93.00,0,0,Check-Out,2016-12-18,34,3162.00
95420,Customer_95421,City Hotel,0,120,2016,August,32,5,4,10,2,2.0,0,BB,FRA,Online TA,TA/TO,0,0,0,G,G,0,No Deposit,0,Transient,220.00,1,1,Check-Out,2016-08-19,14,3080.00
95150,Customer_95151,City Hotel,0,152,2016,July,31,30,5,11,3,0.0,0,HB,FRA,Online TA,TA/TO,0,0,0,A,D,0,No Deposit,0,Transient,184.34,0,2,Check-Out,2016-08-15,16,2949.44
96438,Customer_96439,City Hotel,0,165,2016,August,33,9,6,18,1,0.0,0,BB,PRT,Corporate,Corporate,0,0,0,E,K,4,No Deposit,0,Transient,106.00,0,0,Check-Out,2016-09-02,24,2544.00
106335,Customer_106336,City Hotel,0,30,2017,February,5,2,6,16,2,0.0,0,BB,CN,Online TA,TA/TO,0,0,0,E,E,1,No Deposit,0,Transient,115.60,0,3,Check-Out,2017-02-24,22,2543.20
81695,Customer_81696,City Hotel,0,1,2017,April,14,3,5,11,1,0.0,0,BB,AGO,Direct,Direct,1,0,3,D,D,7,No Deposit,0,Transient,150.00,0,2,Check-Out,2017-04-19,16,2400.00
93470,Customer_93471,City Hotel,0,13,2016,July,29,13,2,7,3,0.0,0,BB,FIN,Online TA,TA/TO,0,0,0,G,G,0,No Deposit,0,Transient,265.44,0,2,Check-Out,2016-07-22,9,2388.96
108825,Customer_108826,City Hotel,0,7,2017,March,12,22,2,9,2,0.0,1,BB,PRT,Online TA,TA/TO,0,0,0,F,F,2,No Deposit,0,Transient,212.73,0,2,Check-Out,2017-04-02,11,2340.03

### 3.2.7 Find the top 10 customers based on total revenue who stayed at Resort Hotel (2 marks)

- Filter the data frame "not_cancel" for hotel = "Resort Hotel"
- Sort the filtered data frame on "total_revenue" in descending
- Keep only top 10 rows

In [34]:
Top_10_resort_revenue = resort_hotel.sort_values(['Total_revenue'], ascending=False)
Top_10_resort_revenue.head(10)

#Sorted the filtered Resort Hotels in the decending order by total revenue using ascending = False and saved it in a new variable.
#Printed top 10 values by head(10) from the new variable.

,Customer_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_stay_duration,Total_revenue
27242,Customer_27243,Resort Hotel,0,82,2017,August,33,15,4,10,2,2.0,0,BB,PRT,Direct,Direct,1,0,1,G,G,2,No Deposit,0,Transient,318.00,1,3,Check-Out,2017-08-29,14,4452.00
16087,Customer_16088,Resort Hotel,0,103,2015,August,31,1,4,9,2,1.0,0,HB,PRT,Direct,Direct,0,0,0,H,H,0,No Deposit,0,Transient,297.50,1,1,Check-Out,2015-08-14,13,3867.50
39252,Customer_39253,Resort Hotel,0,128,2017,August,31,3,2,8,3,0.0,0,HB,PRT,Direct,Direct,0,0,0,F,F,1,No Deposit,0,Transient,368.10,1,1,Check-Out,2017-08-13,10,3681.00
38913,Customer_38914,Resort Hotel,0,175,2017,August,31,3,4,10,2,0.0,0,HB,FRA,Online TA,TA/TO,0,0,0,E,E,2,No Deposit,0,Transient,258.29,0,2,Check-Out,2017-08-17,14,3616.06
15980,Customer_15981,Resort Hotel,0,202,2015,July,30,23,5,13,2,1.0,0,HB,BEL,Online TA,TA/TO,0,0,0,E,E,2,No Deposit,0,Transient,196.00,0,2,Check-Out,2015-08-10,18,3528.00
27066,Customer_27067,Resort Hotel,0,250,2017,August,32,6,4,10,3,0.0,0,HB,PRT,Direct,Direct,1,0,1,E,E,0,No Deposit,0,Transient,251.43,1,3,Check-Out,2017-08-20,14,3520.02
15400,Customer_15401,Resort Hotel,0,109,2017,June,24,16,4,7,3,0.0,0,FB,PRT,Direct,Direct,1,0,2,F,F,0,No Deposit,0,Transient,318.82,1,2,Check-Out,2017-06-27,11,3507.02
15399,Customer_15400,Resort Hotel,0,94,2016,July,27,2,4,7,3,0.0,0,FB,PRT,Direct,TA/TO,1,0,1,F,F,0,No Deposit,0,Transient,317.00,1,1,Check-Out,2016-07-13,11,3487.00
26035,Customer_26036,Resort Hotel,0,165,2016,June,26,21,8,20,2,0.0,0,HB,IRL,Offline TA/TO,TA/TO,0,0,0,A,C,0,No Deposit,0,Transient,124.20,0,0,Check-Out,2016-07-19,28,3477.60
14039,Customer_14040,Resort Hotel,0,74,2017,July,26,1,9,21,1,0.0,0,HB,PRT,Direct,Direct,0,0,2,E,E,0,No Deposit,0,Transient,115.00,2,3,Check-Out,2017-07-31,30,3450.00